! terminal colors ----------------------------------------------
#include "/home/ryuko/.Xresources.d/numixdark"

! scrollbar style - rxvt (default), plain (most compact), next, xterm
! URxvt.scrollstyle:plain
URxvt.scrollBar: false 

! URxvt ---------------------------------
URxvt.depth: 32
URxvt.background: [85]#000000
! URxvt.letterSpace:0
URxvt.lineSpace: 2
!URxvt.font: -gohu-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt.boldFont: -gohu-gohufont-bold-r-*-*-14-*-*-*-*-*-iso10646-1
URxvt.font: -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*,\
-*-gothic-medium-r-*-*-12-*-*-*-*-*-jisx0208.1990-*
URxvt.boldFont: -*-terminus-bold-*-*-*-12-*-*-*-*-*-iso10646-*,\
-*-gothic-bold-r-*-*-12-*-*-*-*-*-jisx0208.1990-*
!URxvt.font: -*-ttyp0-medium-r-normal-*-16-*-*-*-*-*-iso10646-*
!URxvt.font: xft:Ubuntu Mono:size=12
!URxvt.boldFont: xft:Ubuntu Mono:bold:size=12
!URxvt.italicFont: xft:Ubuntu Mono:italic:size=12
URxvt.inheritPixmap:false
URxvt.xftAntialias:true

! supposed to be a copypaste fix
URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: False

!background image ? Does not work for some reason
!URxvt*background.expr: load "/home/ferb/a.jpg"
!URxvt.backgroundPixmap: /home/ferb/a.jpg;root

! Xft -----------------------------------------
!Xft.dpi:96
!Xft.antialias: true
!Xft.rgba: rgb
!Xft.hinting: true
!Xft.hintstyle: hintslight

