! terminal colors ----------------------------------------------
#include ".Xresources.d/numixdark"

! scrollbar style - rxvt (default), plain (most compact), next, xterm
! URxvt.scrollstyle:plain
URxvt.scrollBar: false 

! URxvt ---------------------------------
URxvt.depth: 32
URxvt.background: [85]#000000
! URxvt.letterSpace:0
URxvt.lineSpace: 2
URxvt.internalBorder:10
!URxvt.font: -gohu-gohufont-medium-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt.boldFont: -gohu-gohufont-bold-r-*-*-14-*-*-*-*-*-iso10646-1
URxvt.font: -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*,\
-*-gothic-medium-r-*-*-12-*-*-*-*-*-jisx0208.1990-*,\
-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1
URxvt.boldFont: -*-terminus-bold-*-*-*-12-*-*-*-*-*-iso10646-*,\
-*-gothic-bold-r-*-*-12-*-*-*-*-*-jisx0208.1990-*,\
-wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1
!URxvt.font: -*-ttyp0-medium-r-normal-*-16-*-*-*-*-*-iso10646-*
!URxvt.font: xft:Ubuntu Mono:size=12
!URxvt.boldFont: xft:Ubuntu Mono:bold:size=12
!URxvt.italicFont: xft:Ubuntu Mono:italic:size=12
URxvt.inheritPixmap:false
URxvt.xftAntialias:true

! supposed to be a copypaste fix
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.iso14755: False

! Change font on the fly
URxvt.keysym.C-minus: command:\033]710;-*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*,\
-*-gothic-medium-r-*-*-12-*-*-*-*-*-jisx0208.1990-*\007\
\033]711;-*-terminus-bold-*-*-*-12-*-*-*-*-*-iso10646-*,\
-*-gothic-bold-r-*-*-12-*-*-*-*-*-jisx0208.1990-*\007
URxvt.keysym.C-equal: command:\033]710;-*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*,\
-*-gothic-medium-r-*-*-14-*-*-*-*-*-jisx0208.1990-*\007\
\033]711;-*-terminus-bold-*-*-*-14-*-*-*-*-*-iso10646-*,\
-*-gothic-bold-r-*-*-14-*-*-*-*-*-jisx0208.1990-*\007
URxvt.keysym.F12: command:\033]710;xft:monofur for Powerline:size=12:antialias=true,\
xft:Droid Sans Mono:size=12:antialias=true,\
xft:IPAGothic:style=Regular:size=12:minspace=True:lang=ja:antialias=true\007,\
\033]711;xft:monofur for Powerline:style=Bold:size=12:antialias=true,\
xft:Droid Sans Mono:style=Bold:size=12:antialias=true,\
xft:IPAGothic:style=Bold:size=12:minspace=True:lang=ja:antialias=true\007
!URxvt.keysym.C-F12: command:\033]710;xft:Droid Sans Mono:size=12:antialias=true,\
!xft:IPAGothic:style=Regular:size=12:minspace=True:lang=ja:antialias=true\007,\
!\033]711;xft:Droid Sans Mono:style=Bold:size=12:antialias=true,\
!xft:IPAGothic:style=Bold:size=12:minspace=True:lang=ja:antialias=true\007
