! scrollbar style - rxvt (default), plain (most compact), next, xterm
! URxvt.scrollstyle:plain
URxvt.scrollBar: false

! dpi ---
Xft.dpi: 96
*.dpi: 96

! hinting
Xft*antialias: true
Xft*hinting: 1

! URxvt ---------------------------------
URxvt.depth: 32
! URxvt.letterSpace:0
URxvt.lineSpace: 2
URxvt.internalBorder:10

URxvt.buffered: false

!URxvt.font: xft:Ubuntu Mono:size=12
!URxvt.boldFont: xft:Ubuntu Mono:bold:size=12
!URxvt.italicFont: xft:Ubuntu Mono:italic:size=12

!URxvt.font: xft:mononoki:size=10
!URxvt.boldFont: xft:mononoki:bold:size=10
!URxvt.italicFont: xft:mononoki:italic:size=10

URxvt.font: xft:Monaco for Powerline:size=9
URxvt.boldFont: xft:Monaco for Powerline:bold:size=9
URxvt.italicFont: xft:Monaco for Powerline:italic:size=9

URxvt.inheritPixmap:false
URxvt.xftAntialias:false

URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! supposed to be a copypaste fix
URxvt.perl-ext-common: default,matcher,tabbedex
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.iso14755: False

! tab colors
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 163
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 163
URxvt.tabbed.autohide: yes
URxvt.tabbed.newbutton: no

! Change font on the fly
URxvt.keysym.C-minus: command:\033]710;-*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-*
URxvt.keysym.C-equal: command:\033]710;-*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
URxvt.keysym.F12: command:\033]710;xft:monofur for Powerline:size=12:antialias=true,\
xft:Droid Sans Mono:size=12:antialias=true,\
xft:IPAGothic:style=Regular:size=12:minspace=True:lang=ja:antialias=true\007,\
\033]711;xft:monofur for Powerline:style=Bold:size=12:antialias=true,\
xft:Droid Sans Mono:style=Bold:size=12:antialias=true,\
xft:IPAGothic:style=Bold:size=12:minspace=True:lang=ja:antialias=true\007
