[user]
	name = ferb96
	email = 4320964+duyng404@users.noreply.github.com
[core]
	editor = vim
	excludesfile = /home/ryuko/.gitignore
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[credential]
	helper = cache --timeout=3600
[pull]
	rebase = true
